server:
  port: 80
  servlet:
    encoding:
      force: true

spring:
  threads:
    virtual:
      enabled: true
  jackson:
    # 设置时区
    time-zone: GMT+8
    # 设置时间格式
    date-format: yyyy-MM-dd HH:mm:ss
    # 设置语言
    locale: CHINESE
    # 序列化策略
    serialization:
      # Date对象序列化为时间戳
      write-dates-as-timestamps: true
      # 时间戳禁止精准到纳秒
      write-date-timestamps-as-nanoseconds: false
    generator:
      # 浮点数过大时防止返回科学计数
      write-bigdecimal-as-plain: true
  datasource:
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    url: jdbc:p6spy:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: 91291358
    hikari:
      max-lifetime: 2879000
  cache:
     type: redis
     redis:
       cache-null-values: true
  data:
    mongodb:
      host: 127.0.0.1
      database: test1
      dynamic:
        primary: test1
        databases:
          test1:
            host: 127.0.0.1
            database: test1
          test2:
            host: 127.0.0.1
            database: test2
    redis:
      dynamic:
        primary: test
        databases:
          test:
            host: 127.0.0.1
            database: 0
            key-serializer: string
            value-serializer: string
            hash-key-serializer: string
            hash-value-serializer: string
            lettuce:
              cluster:
                refresh:
                  adaptive: true
                  period: 20
          test2:
            host: 127.0.0.1
            database: 1
            key-serializer: string
            value-serializer: string
            hash-key-serializer: string
            hash-value-serializer: string
            lettuce:
              cluster:
                refresh:
                  adaptive: true
                  period: 20

#    mongodb:
#      host: mongodb.default.svc.cluster.local
#      database: gtz_invoice
#      username: root
#      password: gTz_2021
#      authentication-database: admin
  kafka:
    bootstrap-servers: 127.0.0.1:9092
    producer:
      retries: 1
      batch-size: 16384
      buffer-memory: 1024000
      acks: 1
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
    consumer:
      group-id: gtz-invoice
      enable-auto-commit: false
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
    listener:
      ack-mode: manual_immediate

mybatis-plus:
  type-aliases-package: io.github.pangju666.test.model.entity
  mapper-locations: classpath:mapper/*.xml
  configuration:
    shrink-whitespaces-in-sql: true
  global-config:
    banner: false
    db-config:
      column-format: "`%s`"
      update-strategy: ALWAYS
      id-type: auto
  plugins:
    optimistic-locker:
      enabled: true

pangju:
  web:
    advice:
      binding: true
      exception: true
    rate-limit:
      type: redisson
    idempotent:
      type: redis
    signature:
      secret-keys:
        test: test
    log:
      kafka:
        topic: test


  #logging:
  #config: classpath:log4j2/local.yml